.fiche {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.back-link {
    display: block;
    margin-bottom: 20px;
    font-family: 'Ysabeau SC', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 15px;
    border-radius: 30px;
    background: #080808;
    box-shadow: 0 3px 4px rgb(0, 0, 0, 1), inset 0 -2px 5px rgba(0, 0, 0, 1),
    inset 0 4px 15px rgba(255, 255, 255, 0.245), 0 0 0 2px #000, 0 0 0 5px #000000,
    0 0 0 5.5px #080808;
}

.back-link:hover {
    box-shadow: inset 2px 2px 5px #141414, inset -5px -5px 10px #212121;
}

.image-container {
    margin-top: 5%;
    padding-top: 35px;
    padding-left:35px;
    padding-right: 35px;
    margin-bottom: 5%;
    width: 65%;
    max-width: 80vw;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    border-radius: 10px;
    background: #080808;
    box-shadow: 0 3px 4px rgb(0, 0, 0, 1), inset 0 -2px 5px rgba(0, 0, 0, 1),
    inset 0 4px 15px rgba(255, 255, 255, 0.245), 0 0 0 2px #000, 0 0 0 5px #000000,
    0 0 0 5.5px #080808;
}

.image-large {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    box-shadow: 0 3px 4px rgb(0, 0, 0, 1), inset 0 -2px 5px rgba(0, 0, 0, 1),
    inset 0 4px 15px rgba(255, 255, 255, 0.245), 0 0 0 2px #000, 0 0 0 5px #000000,
    0 0 0 5.5px #080808;
    border-radius: 5px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 35px;
    font-size: 16px;
    color: white;
    font-family: 'Ysabeau SC', sans-serif;
}

@media (max-width: 971px) {
    .fiche {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
    .back-link {
        font-size: 16px;
        margin-bottom: 0;
    }
    .image-container {
        width: 98%;
        margin: 5% 0%;
        padding: 20px;
    }

    .image-large {
        width: 100%;
        margin-bottom: 0;
        border: none;
        object-fit: cover;
        box-shadow: none;
    }

    .description {
        margin-left:auto;
        margin-right: auto;
        width: 100%;
        padding: 0px;
        box-shadow: none;
    }
}
